<!-- Generic footer, for usage across all pages -->
  <footer>
    <div class="footer-col footer-contact" id="contact">
      <div class="contact-title">ΕΠΙΚΟΙΝΩΝΙΑ</div>
      <div class="footer-socials">
	<a href="#"><i class="fa-regular fa-envelope"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="footer-col footer-logo">
      <img src="/assets/images/file 1.png" alt="Footer Logo" />
      <div class="festival-logo-text">stray art festival</div>
    </div>
    <div class="footer-col footer-nav">
      <a href="/index.html">ΑΡΧΙΚΗ</a>
      <a href="/about.html">ΠΟΙΟΙ ΕΙΜΑΣΤΕ</a>
      <a href="/news.html">ΑΝΑΚΟΙΝΩΣΕΙΣ/ΝΕΑ</a>
      <a href="#participate">ΣΥΜΜΕΤΟΧΗ</a>
      <a href="#support">ΥΠΟΣΤΗΡΙΞΗ</a>
      <a href="#archive">ΑΡΧΕΙΟ</a>
      <a href="/contact.html">ΕΠΙΚΟΙΝΩΝΙΑ</a>
    </div>
  </footer>
<!-- End of generic footer -->
