<!-- Generic header for all pages to be used across the website -->
  <header>
    <div class="header-inner">
      <div class="festival-logo">
        <img src="/assets/images/grammata2024-removebg-preview 1.png" alt="Logo" />
      </div>
      <nav>
        <ul>
          <li><a href="/news.html">ΑΝΑΚΟΙΝΩΣΕΙΣ/ΝΕΑ</a></li>
          <li><a href="/about.html">ΠΟΙΟΙ ΕΙΜΑΣΤΕ</a></li>
          <li><a href="#archive">ΑΡΧΕΙΟ</a></li>
          <li><a href="#support">ΥΠΟΣΤΗΡΙΞΗ</a></li>
          <li><a href="#participate">ΣΥΜΜΕΤΟΧΗ</a></li>
          <li><a href="/contact.html">ΕΠΙΚΟΙΝΩΝΙΑ</a></li>
        </ul>
      </nav>
    </div>
  </header>
<!-- End of generic header -->
