<!-- A carousel that slides across the latest `n` posts (assuming at least `n` posts exist) -->
{% for post in site.posts limit:include.n %}
    {% assign previous = forloop.index - 1 | modulo: include.n %}
    {% assign next = forloop.index + 1 | modulo: include.n %}
    <ol class="carousel-container">
	<li id="slide-{{ forloop.index }}" tabindex="0" class="carousel-slide">
	    <div class="carousel-snapper">
		<a href="#slide={{ previous }}" class="carousel-previous">Previous slide</a> 
		<a href="#slide={{ next }}" class="carousel-next">Next slide</a> 
	    </div>
	</li>
    </ol>
{% endfor %}
